*:root{
    font-family: 'Apercu', sans-serif;
    font-size: 16px;
    font-weight: 500;
    box-sizing: border-box;
}
body{
    font-size: 15px;
    margin: 0px;
    padding: 0px;
    font-family: 'Apercu', sans-serif;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
/*To hide the Search Lable  */
.serachbar{
    display: none;
}
.part1{
    width: auto;
    height: auto;
    background-color: #ffd37d;
}
/* Section position */
section{
    margin-left: 4vw;
    margin-right: 4vw;
    padding-bottom: 1px;
}

/*Website Header Styling */
.head{
    display: flex;
    justify-content: justify;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
}
.websiteheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 3vw;
    margin-right: 2vw;
}

/* nav */
.nav{
    margin-top: 2vh;
}
/* Logo sizing and placing */
#logo{
    display: flex;
    justify-content: left;
    align-items: left;
    float: left;
    margin-top: 10px;
    margin-right: 2vw;
    width: 30px;
    height: 30px;
}
#logo:hover{
    cursor: pointer;
}
/* TO head Navbar 1 with headertools */
.navbar1{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* headtools */

.headtools{   
    font-size: 15px;                       /* Making headtools in a line  */
    display: flex;
    justify-content: space-between;
    gap: 25px;

}
/* Ul styling  */
.headtools ul{
    list-style: none;
}

/* li style removing */
.headtools li{
    list-style: none;
}
/* A styling */
.headtools ul,a{ 
    font-size: 15px;
    font-weight: bold;                      /* Anchore tag Styling to remove Underline and text-decoration */ 
    text-decoration: none;
    color: #000;
    font-weight: 530;
}
/* Icon styling  */
.headtools i{
    margin-left: 5px;
}
/* headtools Span styling */

.headtools span{
    font-size: 10px;                                /* Creating a square 2 with  */
    border: 1px solid black;
    background-color: #000;
    border-radius: 5px;
    padding: 3px 6px;
    height: 10px;
    width: 10px;
    vertical-align: 2px;
    color: #ffffff;
}
/* Hover effects on nav items */
.headtools a:hover{
    opacity: 0.5;
    cursor: pointer;
}

/* SeacrchBar */
.searchbar{
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
}
/* Search input Field */
.searchbar input{
    display: flex;
    justify-content: center;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 40px;
    vertical-align: 2px;
    height: 20px;
    width: 21vw;
    border: 1px;
    border-radius: 10px;
    background-color: #f2c877;
    font-size: 15px;
    font-weight: 550px;
}
/* Search icon filed i */
.searchbar i{
    position: absolute;
    padding-bottom: 10px;
    margin-top: 12px;
    margin-left: 15px;
    margin-right: 13px;

}
/* Search Icon  */
.searchbar img{
    margin-top: 3px;
    width: 20px;
    height: 20px
}

/*Profile  */
.profile{
    display: flex;
    justify-content: justify;
    margin-left: 20px;
    border: 1px;
    border-radius: 50%;
}
/* profile image */
.profile img{                       /* profile image shaping and placing */
    margin-top: 20px;
    margin-bottom: 1vh;
    border: 1px;
    border-radius: 50%;
    height: 33px;
    width: 33px;
}

/* Be Pro Button */
.btnbepro{
    margin-top: 10px;
    margin-left: 15px;
    width: 80px;
}

.btnbepro{
    display: flex;
    justify-content: center;
    text-align: left;
    padding: 13px 15px;
    font-size: 16px;
    font-weight: 300px;
    background-color: #000;
    color: #fef;
    border: 1px;
    border-radius: 10px;
    
}

/* btnbepro hover effect */
.btnbepro:hover{
    opacity: 0.75;
    cursor: pointer;
}

/* Submit Website */
.submit{
    margin-top: 10px;
    margin-left: 20px;
}
/* submit Website */
.btnsubmit{
    font-size: 16px;
    font-weight: 300;
    padding: 12px 15px;
    border: 1px solid black;
    border-radius: 10px;
    /* height: 40px; */
    background-color: #ffd37d;
    width: 150px;
}
/* SIbmit Website While Hover */
.btnsubmit:hover{
    background-color: rgb(12, 0, 12);
    color: #fef;
    cursor: pointer;
    opacity: 0.8;
}
                                                    /* Header completed */
/*  Middlw items  */
.middileitems{
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    margin-bottom: 0px;
}
.middileitems .site:hover{
    cursor: pointer;
}
.middileitems .date{
    font-size: 15px;
    font-weight: 550;
    margin-left: 5px;
    margin-right: 5px;
}
.middileitems .btndate{
    border: 1px solid;
    padding: 5px 10px;
    border-radius: 5px;

}
.middileitems .btndate:hover{
    cursor: pointer;
}
.middileitems .score:hover{
    cursor: pointer;
}
/* MI=iddle items styling waas completed */

/* Node coding bootcamp */
.nodecoding{
    display: block;
    justify-content: center;
    text-align: center;
    border-spacing: 0px;
    margin: 0px;
}
.nodecoding h1{
    font-size: 110px;
    margin: 0px;
}
/* Profiles Class */
/* profiles */
.profiles{
    display: flex;
    justify-content: center;

}
/* profile classes */

/* profile b */
.profiles b{
    font-size: 17px;
    font-weight: 600;
    border-bottom: 2px solid #575050;
    border-radius: 2px;
}
.profile b:hover{
    border-color: #000;
    transition: border-color 1s linear 0.1ms;
    cursor: pointer;
}
/* profile pro */
.profiles .pro{
    font-size: 15px;
    vertical-align: 3px;
    margin-left: 6px;
}
/* Profile image */
.profiles img{                       /* profile image shaping and placing */
    margin-top: 5%;
    margin-left: 10px;
    margin-bottom: 1vh;
    border: 1px;
    border-radius: 50%;
    height: 33px;
    width: 33px;
    vertical-align: -15px;
}
.profile .antoni b{
    vertical-align: 3px;
}
.antoni .pro{
    vertical-align: 6px;
}
/* Profile  */
/* Footer Styling */
footer{
    position: fixed;
    z-index: 5;
    top: 550px;
    left: 350px;
    display: flex;
    justify-content: justify;
    border: 1px;
    background-color: #3e3e3e;
    border-radius: 10px;
    padding:0px 5px;
    height: fit-content;
}
/* foot1 */
.foot1{
    display: flex;
    justify-content: center;
    align-items: center;   
}
/* Foot1 icon W. */
.foot1 .wicon{
    color: #dedede;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-top: 5px;
}
/* Foot1 Wicon image */
.foot1 .wicon img{
    width: 30px;
    height: 30px;
    margin-right: 0px;
    color: #dedede;
    margin-right: 10px;
    padding: 12px 3px;
    padding-left: 10px;
   
}
/* Foot positioning */
.foot{
    margin-left: 0px;
    margin-bottom: 5px;
    margin-top: 5px;
    border: 1px;
    background-color: #3e3e3e;
}
/* Footer Ul positiooning */
.foot1 ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: 1px solid #575050;
    margin-left: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 10px;
    padding: 5px 5px;
}
/*Footer  List  */
.foot li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    border: 1px solid #575050;
    border-radius: 10px;
    padding: 10px 5px;
    background-color: inherit;
    
}
/* Footer list Hovering */
.foot1 li:hover{
    border-color: #dedede;
    cursor: pointer;
}
/* List link */
.foot1 li a{
    color: #efe;
    padding: 5px;
    font-size: 15px;
}
.foot1 li a:hover{
    color: white;
}
/* Footer Visit field */
.foot1 .visit{
    font-size: 16px;
    border: 1px;
    border-radius: 10px;
    background-color: #ffa162;
    margin-left: 10px;
    padding: 24px 15px;
    margin-bottom: 0px;

}

.foot1 .visit:hover{
    opacity: 0.8;
}
/* Footer up arrow  */
.uparrow{
    position: fixed;
    top: 564px;
    left: 20px;
    z-index: 50;
    border: 1px solid;
    border-radius: 10px;
    padding: 15px 15px;
    background-color: #3e3e3e;
}
/* @scroll {
    .uparrow {
      display: block;
    }
    scroll-margin-top: 200px; 
  } */
.uparrow:hover{
    cursor: pointer;
}
.uparrow img{
    width: 30px;
    height: 30px;
}

/* middile image field */
.middileimage{
    display: flex;
    justify-content: center;
    width: 91vw;
    border: 1px solid black;
    border-radius: 20px;
    margin: 40px 0px;
    background-color: #000;
    height: 110vh;
}
/* Image inside the miiddile image field */
.middileimage img{
    border: 1px;
    border-radius: 65px;
    width: 1120px;
    padding: 50px;
}
/* MIddile image field completed */                             /* MIddile image field completed */
/* Element */
.elements{
    font-size: 16px;
    font-weight: 400;
}
/* Site */
.highlights{
    font-size: 25px;
    margin-left: 5px;
    width: 24vw;
}
/* Navigation and Interaction Fields */
.navinteraction{
    width: 91vw;
    display: flex;
    justify-content: justify;
    gap: 20px;
    border: 1px;
    margin-top: 50px;
    background: transparent;
}
/* navintaraction video Field */
.navinteraction video{
    border-radius: 20px;
    border: 1px solid ;
    width: 92%;
    margin-left: 20px;
    margin-right: 20px;
    z-index: 2;
}
                                                        /* Navinteraction button */
/* Navigation button */
.navigation button{
    position: relative;
    left: 50px;
    top: 50px;
    background: transparent;
    border: 1px solid #efe;
    border-radius: 5px;
    padding: 3px;
    color: #efe;
}
/* Interaction button */
.interaction button{
    position: relative;
    left: 50px;
    top: 50px;
    background: transparent;
    border: 1px solid #efe;
    border-radius: 5px;
    padding: 3px;
    color: #efe;
}

 /* Element interaction Text */
.elementinteraction{
    position: relative;
    bottom: 100px;
    left: 50px;
    color: #efe;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
}
 /* Element Navigation Text */
 .elementnavigation{
    position: relative;
    bottom: 100px;
    left: 50px;
    color: #efe;
    z-index: 2;
    visibility: hidden;
    opacity: 0;  
 }

/* Save icon*/                                                    /* Svae Icon class styling */
.saveicon{
    position: relative;
    display: flex;
    bottom: 25px;
    gap: 15px;
    right: 100px;
    justify-content: right;
}
.saveicon:hover{
    cursor: pointer;
}

/* Hover effect  */                                         /* Hover effect on navigations */
.navinteraction video:hover{
    cursor: pointer;
    opacity: 0.80;
    transition: all 0.3s;
}
.navvideo:hover .elementnavigation{
    visibility: visible;
    opacity: 1;
}
.interavideo:hover .elementinteraction{
    visibility: visible;
    opacity: 1;
    transition: all 0.3s;
}
.navinteraction b{
    font-size: 20px;
}
.navinteraction p{
    font-size: 14px;
}

/* Navigation */
.navigation{
    display: flex;
    justify-content: center;
    align-items: center;   
    width: 50%;
    height: 440px;
    border: 1px solid #f2c877;
    padding: 30px;
    background-color: #000;
    border-radius: 20px;
}

/* Interaction */
.interaction{
    display: flex;
    justify-content: center; 
    align-items: center;   
    width: 50%;
    height: 440px;
    border: 1px solid;
    padding: 30px;
    background-color: #000;
    border-radius: 20px;
}

/* navinteraction bottom heads */
.navinterbottomheads{
    display: flex;
    justify-content: justify;
    width: 91vw;
    margin-top: 10px;
}

/* navinterbottom heads b  */

.navinterbottomheads b{
    font-size: 20px;
    margin: 0px 10px;
}
.navinterbottomheads p{
    font-size: 12px;
}
.navigationbottomhead{
    width: 50%;
    gap: 10px;
}
.interactionbottomhead{
    width: 50%;
    margin-left: 20px;
}

/* Creating the bottom border for navigation and  interaction text fields */
.navibottom{
    border-bottom: 2px solid #c7ad7a;
}
.navibottom:hover{
    transition: all 0.3s;
    border-color: #000000;
    cursor: pointer;
}

/* The hero image media field */                /* The hero image media field */
.hero{
    display: flex;
    justify-content: center;
    width: 91vw;
    height: 960px;
    border: 1px solid;
    margin: 20px 0px;
    background-color: #000;
    border-radius: 20px;

}
.hero:hover{
    cursor: pointer;
    opacity: 0.80;
}
/* hero button */
.herovideo button{
    position: relative;
    top: 100px;
    left: 70px;
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    color: white;
    z-index: 2;
    font-size: 13px;
}

/* The tabs Icon */
.hero button img{
    height: 13px;
    width: 15px;
    padding: 0px 3px;
    z-index: 2;
}

/* Hero video */
.hero video{
    border: 1px solid;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin: 30px 40px;
    width: 1120px;
} 

/* Hero image tag Element */                            /* Hero image tag Element */
.elementhero{
    position: relative;
    bottom: 130px;
    left: 70px;
    color: white;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
}
.herovideo:hover .elementhero{
    visibility: visible;
    opacity: 1;
}
.elementhero b{
    font-size: 25px;
}
/* herobottomhead */
.herobottomhead p{
   font-size: 12px;
   
}
.herobottomhead b{
    font-size: 20px;
    margin: 0px 10px;
}
.herobottom{
    border-bottom: 2px solid #c7ad7a;
}
.herobottom:hover{
    border-color: #000;
    cursor: pointer;
}
.hero .icons{
    position: relative;
    right: 150px;
    bottom: 30px;
    display: flex;
    justify-content: right;
    gap: 15px;

}
.herobottomhead{
    margin-bottom: 10vh;
}
/* completed Bottom Head */
                                                            /* Part2 styling completed */

/* Part2 Starting */
.part2{
    margin-right: 4vw;
    margin-left: 4vw;
}
/* Section 2 starting */
.section2{
    background-color: transparent;
    margin: 0px;
}
/* wow0 */
.wow{
    position: relative;
    z-index: 4;
}
/* Typway */
.typway{
    position: sticky;
    margin-top: 15vh;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: left;
    gap: 5vw;
    border-bottom: 1px dashed black;
    z-index: 4;

}
/* heywow */
.heywow{
    position: absolute;
    top: 0px;
    left: 10vw;
    border-bottom: 2px solid black;
    padding-bottom: 15px;
    margin-bottom: 0px;
    z-index: 999;
}
/* Hey wow text */
.wowimg{
    width: 91vw;
    display: flex;
    justify-content: center;
    text-align: center;

}
.wowimg span{
    visibility: hidden;
}
.wowimg h1{
    margin: 100px 0px;
    width: 92vw;
    font-weight: 100;
    height: 60vh;
    background-color: transparent;
    font-size: 200px;
    border-bottom: 1px dashed black;
}
